@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


$font-dm-sans: 'DM Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Black & White
$black: #000000;
$white: #FFFFFF;

// Gray
$gray-200: #E2E8F0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-700: #2D3748;

// Specific Colors
$background-color: #F3F4F5;
$dark-pink: #6E1946;
$bright-white: #FFFFFF;
$pure-black: #000000;
$dark-gray: #626365;
$medium-gray: #666969;
$light-blue: #A3AED0;
$very-light-gray: #F8F8F8;
$deep-blue: #2B3674;
$soft-blue: #8F9BBA;
$light-gray: #C4C4C4;

